<?xml version="1.0" encoding="UTF-8"?>
<Context path="/">

    <Environment name="ru.bystrobank.apps.workflow.certfile" value="/certs/application.pem" type="java.lang.String" override="false"/>
    <Environment name="ru.bystrobank.apps.workflow.cert_PASSWORD" value="cert_pass_here" type="java.lang.String" override="false"/>

</Context>
